@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --color-dark-gray: rgb(36, 38, 43);
  --color-green: #8bc34a;
  --color-green-darken: #84b44e;
  --font-serif: "Lora", serif;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 1rem;
}

/* navbar */
.navbar {
  width: 100%;
  position: fixed;
  background-color: var(--color-dark-gray);
  z-index: 1000;
}
.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
  padding-right: 1rem;
  padding-left: 1rem;
}

.bam-logo {
  height: 3rem;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

.circle-btn {
  padding: 12px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.login-btn {
  color: white;
  border: 2px solid white;
  margin-right: 16px;
}

.login-btn:hover {
  color: var(--color-green);
  border: 2px solid var(--color-green);
}

.sign-up-btn {
  color: white;
  background-color: #3574d6;
  border: 2px solid #3574d6;
}

.sign-up-btn:hover {
  color: white;
  background-color: #3767b4;
  border: 2px solid #3767b4;
}

/* Mobile Nav */
.mobile-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  right: -100vw;
  background-color: var(--color-dark-gray);
  z-index: 1001;
  width: 100vw;
  transition: all 0.3s;
  color: white;
}
.show-mobile-nav {
  right: 0%;
}
.mobile-nav-header {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.navbar-dark .navbar-toggler {
  border: none;
}
.mobile-nav .close-btn {
  appearance: none;
  background: transparent;
  border: none;
}
.mobile-nav-btns {
  margin: 2rem;
  display: flex;
}
.mobile-circle-btn {
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
}
.mobile-login-btn {
  color: white;
  border: 2px solid white;
  margin-right: 1rem;
}
.mobile-sign-up-btn {
  color: white;
  background-color: #3574d6;
}
.mobile-nav-hr {
  margin: 2rem 1rem;
}
.mobile-nav ul {
  list-style: none;
}
.mobile-nav li {
  margin: 1rem 0;
}
.mobile-nav li a {
  text-decoration: none;
  color: var(--color-red);
}
.mobile-dropdown-nav-item:after {
  content: "";
  background-image: url(./assets/svgs/arrow-down-white.svg);
  display: inline-block;
  height: 1rem;
  width: 1rem;
  transition: 0.2s;
  margin-left: 0.3rem;
}
.mobile-dropdown-menu.hide-element {
  display: none;
}
.mobile-dropdown-menu {
  width: fit-content;
  height: fit-content;
  display: block;
  border: none;
}

/* Hero Section */
.hero {
  height: 80vh;
  padding-top: 74px;
  min-height: 600px;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.hero__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-family: var(--font-serif);
  font-size: 3rem;
}

.hero-subtitle {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.hero-btns {
  display: block;
  width: 100%;
}

.hero-image {
  width: 80%;
}

/* Vendors Section */
.vendors {
  max-width: 900px;
  margin: 0 auto;
}
.vendors-heading {
  font-family: var(--font-serif);
  font-size: 1.6rem;
}

.vendors-logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.vendors-logos img {
  height: 4rem;
}

/* Manage Section */
.manage {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 8rem;
}

.manage__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
}

.manage-heading {
  font-family: var(--font-serif);
  font-size: 2.4rem;
  padding-left: 2rem;
}

.manage__left p {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.manage__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
}

.manage-image {
  width: 80%;
}

/* Video Section */
.video {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 8rem;
}

.video__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-heading {
  font-family: var(--font-serif);
  font-size: 2.4rem;
  padding: 0 2rem;
}

.video__right p {
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: 0 2rem;
}

.video-btns {
  padding: 0 2rem;
  margin-top: 1rem;
}

/* Get Started Section */
.get-started-section {
  padding-top: 4rem;
  margin-top: 4rem;
  background-color: rgb(243 243 243);
}

.get-started-container {
  padding: 0 5rem;
}

.get-started-container h2 {
  font-family: "roboto", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.get-started-col {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.get-started-col span {
  background-color: var(--color-green);
  color: white;
  padding: 1.5rem;
  border-radius: 3px;
  padding: 0.4rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  width: fit-content;
  margin-bottom: 1.6rem;
}

.get-started-col h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Redirect Cards Section */
.redirect-cards-section {
  padding-top: 4rem;
  background-color: rgb(243 243 243);
  padding-bottom: 6rem;
}

.redirect-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.card {
  text-decoration: none;
  color: black;
  max-width: 285px;
  width: 100%;
  height: 375px;
  border-radius: 0%;
  border: none;
  box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
  transition: all 0.3s;
}

.card:hover {
  color: black;
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
}

.card__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 285px;
}
.card img {
  width: auto;
  height: 200px;
  padding: 1rem 4rem 0rem 4rem;
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h3 {
  font-size: 1.4rem;
}

.card-cta span {
  text-transform: uppercase;
  color: var(--color-red);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.card-cta span:after {
  content: "";
  background-image: url(/assets/svgs/card-rightarrow.svg);
  width: 25px;
  height: 14px;
  display: block;
}

/* CTA Section */
.cta-section {
  height: 350px;
  background-color: var(--color-green);
  clip-path: ellipse(75% 100% at center top);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-section h2 {
  font-family: "roboto", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.cta-btns {
  display: flex;
  padding-top: 1rem;
}

.cta-btns a {
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  width: 200px;
  text-align: center;
  font-weight: 500;
}

.cta-btn-white {
  color: var(--color-green);
  background-color: white;
  margin-right: 1.5rem;
  transition: all 0.4s;
}

.cta-btn-white:hover {
  color: var(--color-green);
  box-shadow: inset 0 0 0 2px var(--color-green);
}

.cta-btn-transparent {
  color: white;
  border: 2px solid white;
}
.cta-btn-transparent:hover {
  color: white;
  box-shadow: inset 0 0 0 1px #fff;
}

/* Footer */
footer {
  background-color: var(--color-dark-gray);
  color: white;
}
.footer-container {
  margin-top: -7rem;
  padding-top: 10rem;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.links-col ul {
  list-style: none;
  padding-left: 0;
}

.links-col li {
  margin-top: 1rem;
}

.links-col li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.img-col img {
  height: 200px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-bottom: 2rem;
}

.copyright {
  display: flex;
  flex-direction: column;
}

.legal-links ul {
  list-style: none;
  display: flex;
}

.legal-links li {
  margin-left: 2rem;
}

.legal-links li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Old Footer */
/* footer {
  background-color: var(--color-dark-gray);
  color: white;
}

.footer__top {
  padding-top: 2rem;
  display: flex;
}

.column-contact {
  margin-right: 10rem;
}

.footer-heading {
  font-size: 1rem;
  color: rgb(221, 221, 221);
}

.phone {
  font-size: 2rem;
  font-weight: 800;
}
.column-links {
  display: flex;
  flex-direction: column;
}
.column-links a {
  color: var(--color-green);
}

.column-links a:hover {
  color: var(--color-green-darken);
}

.footer__top hr {
  height: 2px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.5rem;
  font-size: 0.9rem;
}

.footer__bottom a {
  color: var(--color-green);
  margin-left: 2rem;
}

.footer__bottom a:hover {
  color: var(--color-green-darken);
} */

@media only screen and (max-width: 1000px) {
  .hero {
    flex-direction: column;
    height: unset;
    padding-bottom: 4rem;
  }
  .hero__left {
    width: 100%;
    padding: 2rem 0;
  }
  .hero__right {
    width: 100%;
  }
  .hero-image {
    width: unset;
    max-height: 200px;
  }
  .hero-btns {
    display: flex;
    justify-content: center;
  }
  .vendors {
    padding: 2rem 2rem;
    background-color: rgb(243 243 243);
    max-width: 100%;
  }
  .vendors-logos {
    flex-wrap: wrap;
  }
  .manage {
    margin-top: 4rem;
    flex-direction: column;
  }
  .manage__left {
    width: 100%;
  }
  .manage__right {
    width: 100%;
    padding: unset;
    margin-top: 2rem;
  }
  .manage-heading {
    text-align: center;
  }
  .manage__left p {
    margin-bottom: unset;
  }
  .manage-image {
    width: unset;
    max-height: 250px;
    padding: unset;
  }
  .video {
    margin-top: 4rem;
    flex-direction: column-reverse;
  }
  .video__left {
    width: 100%;
  }
  .video__right {
    width: 100%;
    padding-bottom: 3rem;
  }
  .video-heading {
    text-align: center;
  }
  .video-btns {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .redirect-cards-section {
    padding-bottom: 4rem;
  }
  .redirect-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 775px) {
  .get-started-container {
    padding: 0 2rem;
  }
  .footer-top {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .logo-col {
    display: none;
  }

  .img-col {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .links-col {
    grid-row-start: 2;
  }
}

@media only screen and (max-width: 600px) {
  .manage-image {
    max-height: unset;
    width: 80%;
  }
  .video__left iframe {
    width: 80%;
    height: auto;
  }
  .get-started-row {
    flex-direction: column;
  }
  .redirect-cards-container {
    grid-template-columns: 1fr;
  }
  .cta-section {
    clip-path: unset;
    height: fit-content;
    padding: 2rem 1rem;
  }

  .cta-section h2 {
    padding: 0 2rem;
    font-size: 2rem;
  }

  .cta-btns {
    flex-direction: column;
  }

  .cta-btn-white {
    margin-right: unset;
    margin-bottom: 1rem;
  }
  .footer-container {
    margin-top: unset;
    padding-top: 2rem;
  }
  .footer-bottom {
    flex-direction: column;
    justify-content: unset;
  }

  .legal-links ul {
    padding-left: 0;
  }

  .legal-links li {
    margin-left: 0;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .footer-top {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .links-col {
    grid-row-start: auto;
  }

  .img-col img {
    height: auto;
    width: 100%;
  }
}
